page-search {
  ion-slide {
    height: 350px !important;
    align-content: center !important;
    justify-content: space-around !important;
    align-items: center !important;
    margin-top: 90px !important;
  }
}
